* {
  margin: 0;
  padding: 0;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

* button:focus, * input:focus {
  outline: none;
}

nav {
  height: 10vh;
  width: 100%;
  background-color: lightblue;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  padding: 10px;
}

nav article {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: reverse;
      -ms-flex-direction: row-reverse;
          flex-direction: row-reverse;
}

nav article button {
  margin: 20px;
  border: none;
  cursor: pointer;
  background-color: transparent;
  font-size: 42px;
}

nav article button img {
  height: 100%;
  width: 100%;
}

main {
  background-color: beige;
  min-height: 80vh;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -ms-flex-pack: distribute;
      justify-content: space-around;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

main .top {
  min-height: 70vh;
  width: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap-reverse;
      flex-wrap: wrap-reverse;
  -webkit-box-pack: space-evenly;
      -ms-flex-pack: space-evenly;
          justify-content: space-evenly;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  background-color: beige;
}

main .top input {
  border: none;
  background-color: transparent;
  width: -webkit-fit-content;
  width: -moz-fit-content;
  width: fit-content;
}

main .top button {
  border: none;
  cursor: pointer;
}

main .top button svg {
  pointer-events: none;
}

main .top .resume {
  min-width: 400px;
  max-height: 70vh;
  overflow: auto;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

main .top .resume div {
  width: 300px;
}

main .top .resume div input {
  border: none;
  width: 60px;
}

main .top .chart {
  height: auto;
  width: 600px;
  text-align: center;
  margin-bottom: 30px;
}

main .top .chart h2 {
  margin: 20px 0;
}

main .inputData {
  display: none;
  position: absolute;
  top: 0;
  width: 100%;
  height: 100vh;
  background: rgba(0, 0, 0, 0.3);
}

main .inputData button {
  border: none;
  background-color: transparent;
  -ms-flex-item-align: end;
      align-self: flex-end;
  cursor: pointer;
  margin-right: 10px;
}

main .inputData button svg {
  font-size: 28px;
}

main .inputData .setDataAreas {
  width: 600px;
  min-height: 300px;
  height: -webkit-fit-content;
  height: -moz-fit-content;
  height: fit-content;
  background-color: beige;
  border: 5px solid lightblue;
  font-weight: bold;
  margin: 10% auto;
  display: none;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: space-evenly;
      -ms-flex-pack: space-evenly;
          justify-content: space-evenly;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

main .inputData .setDataAreas input[type=submit] {
  margin-bottom: 20px;
  border: none;
  padding: 5px;
  background-color: lightblue;
  border-radius: 25px;
  font-size: 18px;
  font-weight: bold;
  cursor: pointer;
}

main .inputData .setDataAreas h2 {
  margin: 10px 0;
}

main .inputData .setDataAreas .otherFixed {
  text-align: center;
  width: 100%;
}

main .inputData .setDataAreas article {
  padding: 5px;
}

main .inputData .setDataAreas article input[type=number] {
  width: 70px;
  height: 20px;
}

main .inputData .setDataAreas form {
  margin: 30px 0 15px;
}

main .inputData .setDataAreas form input[type=text] {
  height: 30px;
}

main .inputData .setDataAreas th, main .inputData .setDataAreas td {
  border: 1px solid black;
  width: -webkit-fit-content;
  width: -moz-fit-content;
  width: fit-content;
  padding: 10px;
  text-align: center;
}

main .inputData .setDataAreas select {
  width: 200px;
  height: 40px;
  text-align: center;
  margin-bottom: 10px;
}

main .inputData .setDataAreas #addNewDailyInputs {
  width: 100%;
  height: 300px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: space-evenly;
      -ms-flex-pack: space-evenly;
          justify-content: space-evenly;
}

footer {
  width: 100%;
  height: 10vh;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: space-evenly;
      -ms-flex-pack: space-evenly;
          justify-content: space-evenly;
  background-color: lightblue;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

footer button {
  padding: 10px;
  border: none;
  border-radius: 25px;
  font-size: 18px;
  font-weight: bold;
  cursor: pointer;
}

@media only screen and (max-width: 1000px) {
  .top .resume {
    width: 100%;
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
        -ms-flex-direction: row;
            flex-direction: row;
    -ms-flex-wrap: wrap;
        flex-wrap: wrap;
    -webkit-box-pack: space-evenly;
        -ms-flex-pack: space-evenly;
            justify-content: space-evenly;
    row-gap: 20px;
    margin-bottom: 20px;
  }
  .top .chart {
    width: 100%;
    margin: 30px auto;
  }
  .top .chart canvas {
    max-width: 600px;
    margin: 0 auto;
  }
  .inputData .setDataAreas {
    width: 100%;
  }
}
/*# sourceMappingURL=style.css.map */